<h4 class="ui center aligned medium icon header">
  <i class="circular red comment alternate icon"></i>
  Mingle
</h4>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                 <em>Elliot Fu</em>: <em>Jenny Hess</em> message placeholders
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <em>Stevie Feliciano</em>: <em>Elliot Fu</em> message placeholders
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <em>Helen Troy</em>: <em>Christian Rocha</em> message placeholders
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <em>Christian Rocha</em> message placeholder
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <form action="" class="ui reply form">
          <div class="field">
            <div class="ui fluid icon small input">
              <input type="text" placeholder="Enter a message...">
              <i class="bordered inverted red edit small icon"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted fluid small vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
